<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5q8KvuhbwE0yvPuvapXS1tkR6usXnL-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>231623324645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.turbDesc</string>
	<key>PROJECT_ID</key>
	<string>turbulent-decisions</string>
	<key>STORAGE_BUCKET</key>
	<string>turbulent-decisions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231623324645:ios:4de8b4c0050e100f56f50c</string>
</dict>
</plist>